body {
  font-family: sans-serif;
  margin: 0 50px;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 20px;
}
.left,
.right {
  flex: 1;
}
#form {
    margin-top: 40px;
}
.form-group textarea{
    padding: 8px;
    margin-top: 20px;
}
#posts {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

i {
  cursor: pointer;
}

.post-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: beige;
  padding: 8px 10px;
  border-radius: 5px;
}

.options {
  display: flex;
  gap: 25px;
}

#msg {
  color: red;
}
